body {
    background-color: rgb(248, 248, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.top-bar {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.right-group { display: flex; gap: 10px; }

button {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 18px;
    font-weight: bold;
    cursor: pointer;
}

.btn-target { background-color: rgb(218, 165, 32); color: black; }
.btn-start { background-color: rgb(50, 205, 50); color: black; }
.btn-stop { background-color: rgb(220, 20, 60); color: black; }

.camera-container {
    width: 100%;
    max-width: 500px;
    flex-grow: 1; /* Prende lo spazio disponibile */
    background-color: rgb(220, 220, 220);
    border: 3px solid #001f3f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

video, canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-bar {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-switch {
    background-color: #f0f0f0;
    font-size: 14px;
}

#loadingInfo {
    position: absolute;
    bottom: 10px;
    font-size: 13px;
    color: #333;
    background: rgba(255,255,255,0.5);
    padding: 2px 10px;
    border-radius: 10px;
}

/* POPUP */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(248, 248, 255);
    border: 3px solid rgb(220, 20, 60);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    color: rgb(220, 20, 60);
}